<script>
	import { Button, ButtonSet, ExpandableTile } from 'carbon-components-svelte';
	import Desk from '$comps/deskcitymashed.svelte';
	import AiExplainability from 'carbon-pictograms-svelte/lib/AiExplainability.svelte';
	export let type, feature, freakogap;
	let bigolArray =
		type === 'BigOlBtn'
			? [
					{
						text: 'View completed transcriptions',
						url: feature.transUrl
					},
					{
						text: 'Contribute transcriptions',
						url: feature.transUrl
					}
			  ]
			: '';
	let featarr =
		type === 'Browse' ? feature.collhigh : type === 'History' ? feature.hist : bigolArray;
	let toptext =
		type === 'Browse'
			? 'Browse Highlights'
			: type === 'History'
			? 'Read History'
			: `Transcribe ${feature.shortname}`;
	let bottomtext =
		type === 'Browse'
			? 'at the Newberry Digital Collections'
			: type === 'History'
			? `Based on the ${feature.shortname} collection`
			: 'at Newberry Transcribe';
</script>

<ExpandableTile>
	<div slot="above" class="above">
		{#if type === 'Browse'}
			<Desk class="picon" />
		{:else}
			<AiExplainability class="picon" />
		{/if}
		<div class="texts">
			<h5 class="toptext">{toptext}</h5>
			{#if !freakogap}<p class="bottomtext">{bottomtext}</p>{/if}
		</div>
	</div>
	<div slot="below" class="below">
		<ButtonSet stacked>
			{#each featarr as ch}
				<Button kind="ghost" href={ch.url} target="_blank" rel="noreferrer">
					{@html ch.text}
				</Button>
			{/each}
		</ButtonSet>
	</div>
</ExpandableTile>

<style lang="scss">
	@import '/src/newberry.scss';
	.above {
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}

	.texts {
		margin-left: 8px;
	}

	.below {
		margin: 25px 0;
	}
	.bottomtext {
		font-size: 12px;
	}
	// globals

	:global(.bx--tile.bx--tile--expandable) {
		@include transcribe-look;
		width: 100%;
		height: 100%;
	}

	:global(.bx--btn.bx--btn--ghost) {
		border: 1px solid rgba(37, 37, 37, 0.5);
		border-bottom: 1px solid rgba(37, 37, 37, 0.5) !important;
		margin: 2px;
		color: rgba(37, 37, 37, 0.9);
	}

	:global(.bx--btn),
	:global(.bx--btn--set) {
		max-width: none !important;
		padding-right: 16px;
	}
</style>
