<script>
    export let feature;
</script>

<div class="namebox">
    <h4>{feature.name}</h4>
    <h5>{feature.subname}</h5>
</div>

<style lang="scss">
    .namebox {
        padding: 0 8px;
        flex-basis: 200px;
        min-width: 200px;
    }
</style>
