<script>
	const stfy = 'stfu';

	import { base } from '$app/paths';
	import Gallery from '$lib/gallery.svelte';
	import Tile from '$lib/tile.svelte';

	const data = [
		{
			title: 'Graham Taylor papers collection guide (Newberry)',
			link: 'https://archives.newberry.org/repositories/2/resources/266',
			img: '/bluekids.png',
			coll: 'external'
		},
		{
			title: 'Graham Taylor digital collection (Newberry)',
			link: 'https://collections.newberry.org/C.aspx?VP3=DamView&KW_RID=2KXJ2046NPD&FR_=1&W=1536&H=754',
			img: '/gratayshot.png',
			coll: 'external'
		},
		{
			title: 'Settlement Houses (Encyclopedia of Chicago)',
			link: 'http://www.encyclopedia.chicagohistory.org/pages/1135.html',
			img: '/settshot.png',
			coll: 'external'
		},
		{
			title: 'Our History (Chicago Commons)',
			link: "https://www.chicagocommons.org/about-2/our-history/#:~:text=Founded%20by%20Graham%20Taylor%20in,city's%20earliest%20kindergartens%20in%201897.",
			img: 'https://www.chicagocommons.org/wp-content/uploads/2017/03/1901.jpg ',
			coll: 'external'
		},
		{
			title: 'Teaching resource: The Jungle and the Community',
			subtitle: 'Workers and Reformers in Turn-of-the-Century Chicago (Newberry)',
			link: 'https://dcc.newberry.org/?p=14384',
			img: 'https://collections.newberry.org/IIIF3/Image/2KXJ8ZSG2FS19/full/,300/0/default.jpg',
			coll: 'external'
		},
		{
			title: 'Guidelines (Newberry)',
			link: 'https://digital.newberry.org/transcribe/guidelines/',
			img: '/guideshot.png',
			coll: 'transcribe'
		},
		{
			title: 'About our social activist collections (Newberry)',
			link: 'https://digital.newberry.org/transcribe/social-activism/',
			correctimg:
				'https://collections.newberry.org/IIIF3/Image/2KXJ8ZSG2JSQ9/full/,300/0/default.jpg',
			img: '/bluekids.png',
			coll: 'transcribe'
		},
		{
			title: 'Sample transcription:',
			subtitle: 'Vanzetti letter to Debs regarding death sentence and appeal, 1927 (Newberry)',
			link: 'https://publications.newberry.org/transcribe/#/item/1578/page/138705',
			img: 'https://digital.newberry.org/transcribe/omeka/files/original/130b23f784f9fba174c25aa943032821.jpg ',
			coll: 'transcribe'
		},
		{
			title: 'Featured transcriptions at Midwest Time Machine (Newberry)',
			link: 'https://digital.newberry.org/time-machine/',
			img: 'https://uploads.knightlab.com/storymapjs/bc2171fd2dc65da8b99c6c013d2dc670/julia-newberry/_images/julia-newberry-portrait-6191862.jpg  ',
			coll: 'transcribe'
		},
		{
			title: 'Featured transcriptions at @DigitalNewberry (Twitter)',
			link: 'https://twitter.com/search?q=(%23otd)%20(from%3Adigitalnewberry)&src=typed_query&f=live',
			img: '/tweet.png',
			coll: 'transcribe'
		}
	];
</script>

<section class="flex-wrapper">
	<div class="flex-box">
		<div class="page-title">
			<h3 class="page-title-part">Newberry Transcribathon:</h3>
			<h4 class="page-title-part">Social Activism Collections</h4>
		</div>
		<div class="event-details">
			<dl>
				<dt>Date:</dt>
				<dd>Apr 20, 2023</dd>
				<dt>Time:</dt>
				<dd>1:00pm–3:00pm</dd>
				<dt>Location:</dt>
				<dd>Hybrid – Ruggles Hall and Zoom</dd>
			</dl>
		</div>
		<p>
			<a
				href="https://www.newberry.org/calendar/newberry-transcribathon-social-activism-collections"
				target="_blank"
				class="fl"
			>
				Register at our event page!
			</a>
		</p>
		<h4 class="section-header">Additional information</h4>
		<p>
			The Newberry is thrilled to announce our first-ever transcribathon! To celebrate National
			Volunteer Week, please join us on April 20 as we work together on improving access to our
			shared cultural heritage materials. Contributing your time transcribing digitized
			correspondence from the Newberry's collections will aid researchers around the world in
			finding, searching, and analyzing these unique primary sources – helping them to gain and
			share a fuller understanding of our past.
		</p>
		<p>
			Volunteering, service, and collaboration are also common themes in the content of the
			documents we’ll be transcribing. Along with the papers of early-20th century social reformers
			currently online at Newberry Transcribe, we’ll be adding more than 2,500 handwritten pages
			from the collection of Graham Taylor (1851-1938), a leader of the settlement house movement
			and the founder of Chicago Commons. Letters to and from notables like Jane Addams, Clarence
			Darrow, and Henry Ford -- as well as the little-known parishioners, social workers, committee
			members, and others who helped operate the Commons -- cover topics including immigration,
			labor, civic reform, and public health in early 20th-century Chicago.
		</p>
		<p>
			In addition to collaborative transcription activities, the event will also feature brief
			presentations on our manuscript collections and how they’re used in teaching and research,
			provided by Newberry staff experts Alison Hinderliter (Lloyd Lewis Curator of Modern
			Manuscripts and Archives), Jill Gage (Custodian of the John M. Wing Foundation on the History
			of Printing and Bibliographer for British Literature and History), and Kara Johnson (Director,
			Teacher Programs). Digital Initiatives staff members Jen Wolfe and Quinn Sluzenski will
			demonstrate, provide tips, and answer questions on using the transcription site.
		</p>
		<ul>
			<li>
				This program will be held in-person at the Newberry and livestreamed on Zoom. Please
				register at our Event page.
			</li>
			<li>
				If you're attending the in-person event, please bring your own laptop. Refreshments will be
				provided.
			</li>
			<li>
				Instructors: we welcome classroom participation! For more information on how your class can
				take part in this or other Newberry transcription crowdsourcing efforts, contact our Teacher
				Programs department: teacherprograms@newberry.org
			</li>
			<li>Other questions? Contact Digital Initiatives and Services staff: dis@newberry.org</li>
		</ul>
	</div>

	<div class="flex-box" />
	<div class="flex-box" />
	<div class="flex-box" />
	<div class="flex-box" />
	<div class="flex-box" />
	<div class="flex-box" />
	<div class="flex-box" />
</section>

<section class="grid-wrapper">
	{#each data as dat}
		<div class="grid-item">
			<Tile {dat} />
		</div>
	{/each}
</section>

<style lang="scss">
	@import '../../newberry.scss';
	.gallery {
		top: 0;
		float: right;
		width: 30vw;
		max-width: 30vw;
	}
	.flex-wrapper {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-evenly;
		align-items: stretch;
		gap: 16px;
		.flex-box {
			width: 40%;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
		}
		.flex-tile {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			border: 1px solid black;
			// width: 350px;
			max-width: 45%;
			max-height: 400px;
			overflow: hidden;

			img {
				flex: 1;

				// height: 100%;
				object-fit: cover;
				object-position: center;
			}
			.grid-overlay {
				flex-basis: 200px;
			}
		}
	}
	ul {
		margin-left: 16px;
		list-style-type: square;
	}

	.grid-wrapper {
		// margin: 70px auto;
		display: flex;
		flex-wrap: wrap;
		margin: auto;
		width: 100%;
		/* grid-template-columns: 25% 25% 25% 25%; */
		// grid-template-columns: 15% 15% 15% 15% 15%;
		// column-gap: 50px;
		// row-gap: 50px;
		gap: 16px;
		justify-content: space-evenly;
		align-items: stretch;
	}
	:global(.bx--tile) {
		@include fooncy-links;
		height: 100%;
		border: 1px solid #000;
	}
	.grid-item {
		width: 200px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}
</style>
