<script>
	import { FrameGrid } from '@egjs/svelte-grid';
	export let data;
	const gap = 5;
	const defaultDirection = 'end';
	const frame = [
		[1, 1, 2, 2],
		[3, 3, 2, 2],
		[4, 4, 4, 5]
	];
	const rectSize = 0;
	const useFrameFill = true;
</script>

<FrameGrid class="container" {defaultDirection} {gap} {frame} {rectSize} {useFrameFill}>
	{#each data as dat}
		<img src={dat.thumb} alt={dat.title} />
	{/each}
</FrameGrid>

<style>
	.container {
		overflow: hidden;
	}

	.item {
		position: absolute;
		width: 100px;
		color: white;
		text-align: center;
	}

	.result {
		text-align: center;
		padding: 10px;
		font-weight: bold;
		box-sizing: border-box;
		font-size: 14px;
	}

	.button {
		position: relative;
		display: block;
		margin: 10px auto;
		padding: 10px 20px;
		background: white;
		border: 1px solid #ccc;
		appearance: none;
		font-weight: bold;
		width: 150px;
		text-align: center;
		box-sizing: border-box;
		font-size: 14px;
	}

	.image {
		position: relative;
		width: 100%;
		font-size: 0;
	}

	.image img {
		width: 100%;
	}

	.title {
		height: 40px;
		line-height: 40px;
		text-align: center;
		font-weight: bold;
		font-size: 14px;
	}

	@media (prefers-color-scheme: dark) {
		.title,
		.result {
			color: white;
		}
	}

	@media (prefers-color-scheme: light) {
		.title,
		.result {
			color: black;
		}
	}
</style>
