<script>
	import { JustifiedGrid } from '@egjs/svelte-grid';
	import { onMount } from 'svelte';
	import { loadBp } from '$utils/load-bp';
	export let data;
	const gap = 5;

	// initializes in onMount so it runs only in browser
	let bp;
	/** click handler */
	function openBiggerPicture(e) {
		e.preventDefault();
		const target = e.currentTarget;
		bp.open({
			items: target.parentElement.children,
			el: target,
			intro: 'fadeup'
		});
	}
	onMount(async () => {
		// use onMount to define variable so it runs only in the browser
		bp = await loadBp();
	});
</script>

<JustifiedGrid class="container" id="images" {gap}>
	{#each data as dat}
		<a
			on:click={openBiggerPicture}
			href={dat.src}
			data-img={dat.src}
			data-thumb={dat.thumb}
			data.alt={dat.title}
			width="300"
			height="234"
		>
			<img src={dat.thumb} alt={dat.title} />
		</a>
		<!-- <img src={dat.thumb} alt={dat.title} /> -->
	{/each}
</JustifiedGrid>

<style lang="scss">
	html,
	body {
		position: relative;
		height: 100%;
		padding: 0 !important;
		margin: 0 !important;
	}
	a {
		// height: 100%;
		// display: block;
	}
	.container {
		overflow: hidden;
	}

	.item {
		position: absolute;
		text-align: center;
	}

	.result {
		text-align: center;
		padding: 10px;
		font-weight: bold;
		box-sizing: border-box;
		font-size: 14px;
	}

	.button {
		position: relative;
		display: block;
		margin: 10px auto;
		padding: 10px 20px;
		background: white;
		border: 1px solid #ccc;
		appearance: none;
		font-weight: bold;
		width: 150px;
		text-align: center;
		box-sizing: border-box;
		font-size: 14px;
	}

	.image {
		position: relative;
		width: 100%;
		font-size: 0;
	}

	.image img {
		width: 100%;
	}

	.title {
		height: 40px;
		line-height: 40px;
		text-align: center;
		font-weight: bold;
		font-size: 14px;
	}
</style>
