<script>
	import MediaQuery from 'svelte-media-queries';
	import Analytics from '$utils/analytics.svelte';
	import { base } from '$app/paths';
	import { style } from 'svelte-body';
	import 'carbon-components-svelte/css/all.css';
	import 'bigger-picture/css';
	import '$src/newberry.scss';

	import Newberryn from '$lib/newberryn.svelte';

	const bgArray = [
		['nby_0BH40', '1'],
		['nby_1BH1504', '1'],
		['nby_1BH1507', '1'],
		['nby_1BH1574', '1'],
		['nby_1BH2115', '1'],
		['nby_1BH2128', '1'],
		['nby_1BH2450', '1'],
		['nby_1BH2469', '1'],
		['nby_2B268', '1'],
		['nby_2BH695', '1'],
		['nby_3B344', '1'],
		['nby_3BH803', '1'],
		['nby_4BH27', '1'],
		['nby_4BH454', '1'],
		['nby_4BH789', '1'],
		['nby_VO184', '1'],
		['nby_LL10651', '0'],
		['nby_LL10834', '0'],
		['nby_LL10839', '0'],
		['nby_LL11503', '0'],
		['nby_LL12011', '0'],
		['nby_LL13424', '0'],
		['nby_LL9161', '0'],
		['nby_VO1422', '0']
	];
	const randomBg = bgArray[Math.round(Math.random() * (bgArray.length - 1))];
	const backgroundUrl = `//iiif.archivelab.org/iiif/${randomBg[0]}$${randomBg[1]}/full/1000,/0/default.jpg`;

	const bgstyle = `background: url('${backgroundUrl}'); background-size: cover; background-position: center; background-attachment: fixed;`;
</script>

<Analytics />
<svelte:head><title>Newberry Transcribe: Transcribathon!</title></svelte:head>
<svelte:body use:style={bgstyle} />

<header>
	<a href="https://www.newberry.org" class="n">
		<Newberryn />
	</a>
	<MediaQuery query="(max-width: 1280px)" let:matches>
		{#if matches}
			<a href="https://digital.newberry.org/transcribe" rel="noreferrer" class="newtra fancy-links">
				Newberry Transcribe
			</a>
		{:else}
			<a href="https://digital.newberry.org/transcribe" rel="noreferrer" class="newtra fancy-links">
				Newberry Transcribe:
			</a>
			<span class="subheader">
				<a href={base} rel="noreferrer" class="newtra fancy-links">Transcribathon </a>
			</span>
		{/if}
	</MediaQuery>
</header>

<main>
	<MediaQuery query="(max-width: 1280px)" let:matches>
		{#if matches}
			<div class="mini-box">
				<slot />
			</div>
		{:else}
			<div class="box">
				<slot />
			</div>
		{/if}
	</MediaQuery>
</main>

<style lang="scss">
	@import '../newberry.scss';
	a {
		@include fooncy-links;
	}
	header {
		padding: 1px 0;
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		height: 36px;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		.n {
			margin: 0 3px;
		}
		.newtra {
			margin-left: 6px;
			letter-spacing: normal;
		}
		& .n,
		.newtra,
		.subheader {
			padding: 0;
			color: inherit;
			font-size: 24px;
			font-weight: 700;
			text-decoration: none;
			font-family: 'Bembo W01', Cardo, serif !important;
		}
	}
	header,
	.box,
	.mini-box {
		box-shadow: rgb(15 76 129) 0px 0px 10px inset;
		border: 2px solid rgb(15, 76, 129);
		color: rgb(37, 37, 37);
	}
	header {
		background: rgb(208, 208, 208);
	}
	.box {
		background: white;
		line-height: 24px;
		width: 75%;
		max-width: 75vw;
		margin: 10vh auto;
		padding: 32px 64px;
		display: flex;
		flex-direction: column;
		align-items: stretch;
		justify-content: center;
	}
	.mini-box {
		background: white;
		line-height: 24px;
		width: 95%;
		max-width: 95vw;
		margin: 10vh auto;
		padding: 16px 48px;
		display: flex;
		flex-direction: column;
		align-items: stretch;
		justify-content: center;
	}
</style>
