<script>
	import { onMount } from 'svelte';
	import MediaQuery from 'svelte-media-queries';
	import { base } from '$app/paths';
	import Gallery from '$lib/gallery.svelte';
	import Tile from '$lib/tile.svelte';
	import { data } from '$data/resources';
	import { images } from '$data/images';
	import { loadBp } from '$utils/load-bp';
	let matches;
	const iiifUrlPrefix = 'https://collections.newberry.org/IIIF3/Image/';
	const iiifUrlSuffixThumb = '/full/,500/0/default.jpg';
	const iiifUrlSuffixFull = '/full/max/0/default.jpg';

	const ctxUrlPrefix = 'https://collections.newberry.org/asset-management/';

	let bp;
	function openBiggerPicture(e) {
		e.preventDefault();
		const target = e.currentTarget;
		bp.open({
			items: document.querySelectorAll('#bp-image'),
			el: target,
			intro: 'fadeup'
		});
	}
	onMount(async () => {
		bp = await loadBp();
	});
</script>

<main>
	<MediaQuery query="(max-width: 1280px)" bind:matches>
		{#if matches}
			<div class="link">
				<a href="https://digital.newberry.org/transcribe#" alt="" class="fl">
					Return to Main Page
				</a>
			</div>

			<div class="page-title">
				<h3 class="page-title-part">Newberry Transcribathon:</h3>
				<h4 class="page-title-part">Social Activism Collections</h4>
			</div>
			<div class="event-details-sm">
				<dl>
					<dt>Date:</dt>
					<dd>Apr 20, 2023</dd>
					<dt>Time:</dt>
					<dd class="time">
						1:00pm-3:00pm<br />
						<small>(Central Standard Time)</small>
					</dd>
					<dt>Location:</dt>
					<dd>Hybrid: Ruggles Hall and Zoom</dd>
				</dl>
				<a
					href="https://www.newberry.org/calendar/newberry-transcribathon-social-activism-collections"
					target="_blank"
					class="btn"
				>
					Register at our event page!
				</a>
			</div>
			<div class="image">
				<figure>
					<a
						class="image"
						id="bp-image"
						on:click={openBiggerPicture}
						href="{base}/bluekids.png"
						data-img="{base}/bluekids.png"
						data-thumb="{base}/bluekids.png"
						data.alt="transcribe hero"
						data-width="1600"
						data-height="921"
						data-caption="Image: from <a class='caption-link' href='https://archive.org/details/tenementconditio00city/page/n5/mode/2up' target='_blank'>Tenement conditions in Chicago</a> (1901)"
					>
						<img src="{base}/bluekids.png" alt="" />
					</a>
					<figcaption>
						Image: from <a
							class="fl"
							href="https://archive.org/details/tenementconditio00city/page/n5/mode/2up"
							target="_blank"
						>
							Tenement conditions in Chicago
						</a>
						(1901)
					</figcaption>
				</figure>
			</div>
			<div class="addl-info">
				<h4 class="section-header">Additional information</h4>
				<p class="main-text">
					To celebrate
					<a
						href="https://www.pointsoflight.org/national-volunteer-week/"
						target="_blank"
						class="fl"
					>
						National Volunteer Week,
					</a> please join us on April 20 for the Newberry's first-ever Transcribeathon!
				</p>
			</div>

			<div class="image">
				<figure>
					<a
						class="image"
						id="bp-image"
						on:click={openBiggerPicture}
						href={ctxUrlPrefix + images[0].src}
						data-img={iiifUrlPrefix + images[0].src + iiifUrlSuffixFull}
						data-thumb={iiifUrlPrefix + images[0].src + iiifUrlSuffixThumb}
						data-alt={images[0].title}
						data-width={images[0].width}
						data-height={images[0].height}
						data-caption="<a class='caption-link' target='_blank' href={ctxUrlPrefix +
							images[0].src}>View at our Digital Collections</a>"
					>
						<img src={iiifUrlPrefix + images[0].src + iiifUrlSuffixThumb} alt="" />
					</a>
					<figcaption>
						<a href={ctxUrlPrefix + images[0].src} target="_blank" class="fl"
							>View at our digital collections</a
						>
					</figcaption>
				</figure>
			</div>
			<div class="addl-info">
				<p class="main-text">
					We invite you to work with us to improve access to our shared cultural heritage materials
					by transcribing digitized correspondence from the Newberry's collections.
				</p>
			</div>
			<div class="image">
				<figure>
					<a
						class="image"
						id="bp-image"
						on:click={openBiggerPicture}
						href={ctxUrlPrefix + images[1].src}
						data-img={iiifUrlPrefix + images[1].src + iiifUrlSuffixFull}
						data-thumb={iiifUrlPrefix + images[1].src + iiifUrlSuffixThumb}
						data-alt={images[1].title}
						data-width={images[1].width}
						data-height={images[1].height}
						data-caption="<a class='caption-link' target='_blank' href={ctxUrlPrefix +
							images[1].src}>View at our Digital Collections</a>"
					>
						<img src={iiifUrlPrefix + images[1].src + iiifUrlSuffixThumb} alt="" />
					</a>
					<figcaption>
						<a href={ctxUrlPrefix + images[1].src} target="_blank" class="fl"
							>View at our digital collections</a
						>
					</figcaption>
				</figure>
			</div>
			<div class="addl-info">
				<p class="main-text">
					Your collaboration will aid researchers around the world in finding, searching, and
					analyzing these unique primary sources – helping to build and share a fuller understanding
					of our past. Volunteering, service, and collaboration are also common themes in the
					content of the documents you will see. Along with the papers of early-20th century social
					reformers currently online at Newberry Transcribe, we’ll be adding more than 2,500
					handwritten pages from the collection of Graham Taylor (1851-1938), a leader of the
					settlement house movement and the founder of Chicago Commons. Correspondence with notables
					like Jane Addams, Clarence Darrow, and Henry Ford -- as well as with the little-known
					parishioners, social workers, committee members, and others who helped operate the Commons
					-- cover topics including immigration, labor, civic reform, and public health in early
					20th-century Chicago.
				</p>
			</div>

			<div class="image">
				<figure>
					<a
						class="image"
						id="bp-image"
						on:click={openBiggerPicture}
						href={ctxUrlPrefix + images[2].src}
						data-img={iiifUrlPrefix + images[2].src + iiifUrlSuffixFull}
						data-thumb={iiifUrlPrefix + images[2].src + iiifUrlSuffixThumb}
						data-alt={images[2].title}
						data-width={images[2].width}
						data-height={images[2].height}
						data-caption="<a class='caption-link' target='_blank' href={ctxUrlPrefix +
							images[2].src}>View at our Digital Collections</a>"
					>
						<img src={iiifUrlPrefix + images[2].src + iiifUrlSuffixThumb} alt="" />
					</a>
					<figcaption>
						<a href={ctxUrlPrefix + images[2].src} target="_blank" class="fl"
							>View at our digital collections</a
						>
					</figcaption>
				</figure>
			</div>

			<div class="addl-info">
				<p class="main-text">
					We invite you to work with us to improve access to our shared cultural heritage materials
					by transcribing digitized correspondence from the Newberry's collections.
				</p>
			</div>
			<div class="image">
				<figure>
					<a
						class="image"
						id="bp-image"
						on:click={openBiggerPicture}
						href={ctxUrlPrefix + images[4].src}
						data-img={iiifUrlPrefix + images[4].src + iiifUrlSuffixFull}
						data-thumb={iiifUrlPrefix + images[4].src + iiifUrlSuffixThumb}
						data-alt={images[4].title}
						data-width={images[4].width}
						data-height={images[4].height}
						data-caption="<a class='caption-link' target='_blank' href={ctxUrlPrefix +
							images[4].src}>View at our Digital Collections</a>"
					>
						<img src={iiifUrlPrefix + images[4].src + iiifUrlSuffixThumb} alt="" />
					</a>
					<figcaption>
						<a href={ctxUrlPrefix + images[4].src} target="_blank" class="fl"
							>View at our digital collections</a
						>
					</figcaption>
				</figure>
			</div>
			<div class="addl-info">
				<ul>
					<li>
						This program will be held in-person at the Newberry and livestreamed on Zoom. Please
						register at our
						<a
							href="https://www.newberry.org/calendar/newberry-transcribathon-social-activism-collections"
							target="_blank"
							class="fl"
						>
							our Event page
						</a>.
					</li>
					<li>
						If you're attending the in-person event, please bring your own laptop. Refreshments will
						be provided.
					</li>
					<li>
						Teachers: we welcome classroom participation! For more information on how your class can
						take part in this or other Newberry transcription crowdsourcing efforts, contact our
						Teacher Programs department:
						<a href="mailto:teacherprograms@newberry.org" class="fl">
							teacherprograms@newberry.org
						</a>
					</li>
					<li>
						Other questions? Contact Digital Initiatives and Services staff: <a
							href="mailto:dis@newberry.org"
							class="fl"
						>
							dis@newberry.org
						</a>
					</li>
				</ul>
			</div>
			<div class="image">
				<figure>
					<a
						class="image"
						id="bp-image"
						on:click={openBiggerPicture}
						href={ctxUrlPrefix + images[3].src}
						data-img={iiifUrlPrefix + images[3].src + iiifUrlSuffixFull}
						data-thumb={iiifUrlPrefix + images[3].src + iiifUrlSuffixThumb}
						data-alt={images[3].title}
						data-width={images[3].width}
						data-height={images[3].height}
						data-caption="<a class='caption-link' target='_blank' href={ctxUrlPrefix +
							images[3].src}>View at our Digital Collections</a>"
					>
						<img src={iiifUrlPrefix + images[3].src + iiifUrlSuffixThumb} alt="" />
					</a>
					<figcaption>
						<a href={ctxUrlPrefix + images[3].src} target="_blank" class="fl"
							>View at our digital collections</a
						>
					</figcaption>
				</figure>
			</div>
		{:else}
			<section class="right">
				<Gallery />
			</section>
			<section class="main">
				<div class="link">
					<a href="https://digital.newberry.org/transcribe#" alt="" class="fl">
						Return to Main Page
					</a>
				</div>
				<div class="page-title">
					<h3 class="page-title-part">Newberry Transcribathon:</h3>
					<h4 class="page-title-part">Social Activism Collections</h4>
				</div>
				<div class="event-details">
					<dl>
						<dt>Date:</dt>
						<dd>Apr 20, 2023</dd>
						<dt>Time:</dt>
						<dd class="time">
							1:00pm–3:00pm
							<small>(Central Standard Time)</small>
						</dd>
						<dt>Location:</dt>
						<dd>Hybrid – Ruggles Hall and Zoom</dd>
					</dl>
				</div>
				<p>
					<a
						href="https://www.newberry.org/calendar/newberry-transcribathon-social-activism-collections"
						target="_blank"
						class="fl"
					>
						Register at our event page!
					</a>
				</p>
				<h4 class="section-header">Additional information</h4>
				<p>
					To celebrate
					<a
						href="https://www.pointsoflight.org/national-volunteer-week/"
						class="fl"
						target="_blank"
						>National Volunteer Week,
					</a>
					please join us on April 20 for the Newberry's first-ever Transcribeathon!
				</p>
				<p>
					We invite you to work with us to improve access to our shared cultural heritage materials
					by transcribing digitized correspondence from the Newberry's collections.
				</p>
				<p>
					Your collaboration will aid researchers around the world in finding, searching, and
					analyzing these unique primary sources – helping to build and share a fuller understanding
					of our past. Volunteering, service, and collaboration are also common themes in the
					content of the documents you will see. Along with the papers of early-20th century social
					reformers currently online at Newberry Transcribe, we’ll be adding more than 2,500
					handwritten pages from the collection of Graham Taylor (1851-1938), a leader of the
					settlement house movement and the founder of Chicago Commons. Correspondence with notables
					like Jane Addams, Clarence Darrow, and Henry Ford -- as well as with the little-known
					parishioners, social workers, committee members, and others who helped operate the Commons
					-- cover topics including immigration, labor, civic reform, and public health in early
					20th-century Chicago.
				</p>
				<p>
					Digital Initiatives staff members Jen Wolfe and Quinn Sluzenski will demonstrate, provide
					tips, and answer questions on using the transcription site. The event will also feature
					brief presentations on our manuscript collections and how they’re used in teaching and
					research. You will meet Newberry staff experts Alison Hinderliter (Lloyd Lewis Curator of
					Modern Manuscripts and Archives), Jill Gage (Custodian of the John M. Wing Foundation on
					the History of Printing and Bibliographer for British Literature and History), and Kara
					Johnson (Director, Teacher Programs).
				</p>
				<ul>
					<li>
						This program will be held in-person at the Newberry and livestreamed on Zoom. Please
						register at our <a
							href="https://www.newberry.org/calendar/newberry-transcribathon-social-activism-collections"
							target="_blank"
							class="fl">event page</a
						>.
					</li>
					<li>
						If you're attending the in-person event, please bring your own laptop. Refreshments will
						be provided.
					</li>
					<li>
						Teachers: we welcome classroom participation! For more information on how your class can
						take part in this or other Newberry transcription crowdsourcing efforts, contact our
						Teacher Programs department:
						<a href="mailto:teacherprograms@newberry.org" class="fl">
							teacherprograms@newberry.org
						</a>
					</li>
					<li>
						Other questions? Contact Digital Initiatives and Services staff: <a
							href="mailto:dis@newberry.org"
							class="fl"
						>
							dis@newberry.org
						</a>
					</li>
				</ul>
			</section>
		{/if}
	</MediaQuery>
	<section>
		<h4>Additional resources</h4>
		<p>
			No transcribing experience or advance preparation is necessary! Everyone is welcome. But for
			those of you who prefer to do your own research, see below.
		</p>
		<div class="grid-wrapper">
			{#each data as dat}
				<div class="grid-item">
					<Tile {dat} />
				</div>
			{/each}
		</div>
	</section>
</main>

<style lang="scss">
	.time {
		line-height: 12px;
		small {
			font-size: 12px;
			padding-left: 4px;
		}
	}
	main {
		width: 100%;
	}
	.right {
		padding: 16px;
		float: right;
		width: 40%;
	}

	.grid-wrapper {
		// margin: 70px auto;
		display: flex;
		flex-wrap: wrap;
		margin: 16px auto;
		width: 100%;
		/* grid-template-columns: 25% 25% 25% 25%; */
		// grid-template-columns: 15% 15% 15% 15% 15%;
		// column-gap: 50px;
		// row-gap: 50px;
		gap: 16px;
		justify-content: space-evenly;
		align-items: stretch;
	}
	:global(.bx--tile) {
		height: 100%;
		border: 1px solid #000;
		padding: 0 !important;
	}
	.grid-item {
		width: 300px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}
	ul,
	dl {
		margin-left: 16px;
		list-style-type: square;
	}
	section > * {
		margin-bottom: 16px;
	}
	.image img {
		max-width: 100%;
		margin: auto;
	}
	figure {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 32px;
	}
	.event-details-sm {
		margin: 16px 0;
		display: flex;
		gap: 16px;
		justify-content: space-evenly;
		align-items: center;
	}
	.btn {
		text-align: center;
		color: rgba(37, 37, 37, 1);
		text-decoration: none;
		border: 1px solid rgb(15 76 129);
		background: rgba(15, 76, 129, 0.5);
		padding: 16px;
		transition: 0.2s;
		&:hover {
			color: rgba(218, 218, 218, 1);
			background: rgba(15, 76, 129, 1);
			box-shadow: rgb(15 76 129) 0px 0px 20px;
		}
	}
</style>
