<script>
	import { base } from '$app/paths';
	import featata from '$src/data/featured.json';
	import Feature from '$comps/feature.svelte';
	import { pageHeader } from '$src/stores';
	$pageHeader = ': Social Activism';
</script>

<div class="main-content">
	<div class="wrapper">
		<div class="link">
			<a href="https://digital.newberry.org/transcribe#" alt="" class="fooncy-loonks">
				Return to Main Page
			</a>
		</div>
		<div class="title">
			<h3>Transcribing Social Activism</h3>
		</div>
		<div class="textbox">
			<p>
				With grant funding from the Institute of Museum and Library Services, the Newberry has
				digitized more than a dozen manuscript collections of prominent social reformers of
				20th-century Chicago. Included are the papers of defense lawyer Clarence Darrow,
				correspondence by International Workers of the World founder Eugene Debs, letters written by
				women’s rights activist May Walden, and the papers of Chicago NAACP officers E. Winston and
				Ina D. Williams.
			</p>
			<blockquote>
				The materials... draw on the Newberry’s strong collections of social action and social
				protest in Chicago and place today’s struggles for social justice within a larger historical
				context: the movements for civil rights, women’s suffrage, and worker’s rights of a century
				ago,” said Alison Hinderliter, Lloyd Lewis Curator of Modern Manuscripts. “In this way, the
				Newberry can help the public look to the past in order to better understand our current
				turbulent moment.”
			</blockquote>
			<p>
				And thanks to the help of contributors like you, scholars will be able to search full-text
				transcriptions of these handwritten documents. Your efforts will make digitized primary
				sources – the building blocks of history – easier to search, browse, and share.
			</p>
		</div>
	</div>
	<figure class="alisimage">
		<img src="{base}/img_5722-justallison.png" alt="" />
		<figcaption>
			Alison Hinderliter. Photo:
			<a
				href="https://csoarchives.wordpress.com/2015/12/01/celebrating-philanthropy-with-a-loan-to-the-smithsonian/"
				target="_blank"
				class="fooncy-loonks"
				rel="noreferrer"
			>
				CSOA
			</a>
		</figcaption>
	</figure>
</div>
<div class="feature-content">
	<div class="title">
		<h3>Featured Collections</h3>
	</div>
</div>
{#each featata as feature}
	<Feature {feature} />
{/each}

<style lang="scss">
	@import '/src/newberry.scss';

	.fooncy-loonks {
		@include fooncy-links;
	}
	.main-content {
		display: flex;
	}

	.alisimage {
		flex-basis: 15vw;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 16px;
		& img {
			object-fit: contain;
			height: 37vh;
		}
		& .fooncy-loonks {
			font-weight: bold;
		}
	}
	.title {
		margin: 16px 0 8px 0;
	}
	.textbox {
		p {
			margin: 16px 0;
		}
		blockquote {
			margin: 16px;
			flex: 1;
			position: relative;
			margin-bottom: 0;
		}
		blockquote:before {
			font-family: 'signifier-bold' !important;
			display: block;
			content: '\201D';
			transform: scaleX(-1);
			font-size: 80px;
			position: absolute;
			left: -37px;
			top: 12px;
			color: rgba(37, 37, 37, 0.3);
		}
	}
</style>
