<script>
	import Gallery from '$lib/gallery.svelte';
	import Tiles from '$lib/tiles.svelte';
	const addlResourcesGallery = [
		{
			title: 'Graham Taylor papers collection guide (Newberry)',
			link: 'https://archives.newberry.org/repositories/2/resources/266',
			img: '[cortex link to follow]',
			coll: 'external'
		},
		{
			title: 'Graham Taylor digital collection (Newberry)',
			link: 'https://collections.newberry.org/C.aspx?VP3=DamView&KW_RID=2KXJ2046NPD&FR_=1&W=1536&H=754',
			img: '/gratayshot.png',
			coll: 'external'
		},
		{
			title: 'Settlement Houses (Encyclopedia of Chicago)',
			link: 'http://www.encyclopedia.chicagohistory.org/pages/1135.html',
			img: '/settshot.png',
			coll: 'external'
		},
		{
			title: 'Our History (Chicago Commons)',
			link: "https://www.chicagocommons.org/about-2/our-history/#:~:text=Founded%20by%20Graham%20Taylor%20in,city's%20earliest%20kindergartens%20in%201897.",
			img: 'https://www.chicagocommons.org/wp-content/uploads/2017/03/1901.jpg ',
			coll: 'external'
		},
		{
			title:
				'Teaching resource: The Jungle and the Community: Workers and Reformers in Turn-of-the-Century Chicago (Newberry)',
			link: 'https://dcc.newberry.org/?p=14384',
			img: '2KXJ8ZSG2FS19',
			coll: 'external'
		},
		{
			title: 'Guidelines',
			link: 'https://digital.newberry.org/transcribe/guidelines/',
			img: '/guideshot.png',
			coll: 'transcribe'
		},
		{
			title: 'About our social activist collections ',
			link: 'https://digital.newberry.org/transcribe/social-activism/',
			img: '2KXJ8ZSG2JSQ9',
			coll: 'transcribe'
		},
		{
			title:
				'Sample transcription: Bartolomeo Vanzetti letter to lawyer Eugene Debs regarding death sentence and appeal, 1927',
			link: 'https://publications.newberry.org/transcribe/#/item/1578/page/138705',
			img: 'https://digital.newberry.org/transcribe/omeka/files/original/130b23f784f9fba174c25aa943032821.jpg ',
			coll: 'transcribe'
		},
		{
			title: 'Featured transcriptions at Midwest Time Machine',
			link: 'https://digital.newberry.org/time-machine/',
			img: 'https://uploads.knightlab.com/storymapjs/bc2171fd2dc65da8b99c6c013d2dc670/julia-newberry/_images/julia-newberry-portrait-6191862.jpg  ',
			coll: 'transcribe'
		},
		{
			title: 'Featured transcriptions at @DigitalNewberry',
			link: 'https://twitter.com/search?q=(%23otd)%20(from%3Adigitalnewberry)&src=typed_query&f=live',
			img: '/tweet.png',
			coll: 'transcribe'
		}
	];
	const imageGallery = [
		{
			title: 'NL11HJQU',
			link: 'https://collections.newberry.org/asset-management/2KXJ8ZS53NG_H',
			img: '2KXJ8ZS53NG_H',
			coll: 'gallery'
		},
		{
			title: 'NL11HJQT',
			link: 'https://collections.newberry.org/asset-management/2KXJ8ZS53NY_S',
			img: '2KXJ8ZS53NY_S',
			coll: 'gallery'
		},
		{
			title: 'NL11HJQO',
			link: 'https://collections.newberry.org/asset-management/2KXJ8ZS53NA_N',
			img: '2KXJ8ZS53NA_N',
			coll: 'gallery'
		},
		{
			title: 'NL11HJQL',
			link: 'https://collections.newberry.org/asset-management/2KXJ8ZS5RD597',
			img: '2KXJ8ZS5RD597',
			coll: 'gallery'
		},
		{
			title: 'NL11HJPX',
			link: 'https://collections.newberry.org/asset-management/2KXJ8ZS5R7ENO',
			img: '2KXJ8ZS5R7ENO',
			coll: 'gallery'
		},
		{
			title: 'NL11HJPR',
			link: 'https://collections.newberry.org/asset-management/2KXJ8ZS5R7R7R',
			img: '2KXJ8ZS5R7R7R',
			coll: 'gallery'
		},
		{
			title: 'NL11HJNX',
			link: 'https://collections.newberry.org/asset-management/2KXJ8ZS5RD72I',
			img: '2KXJ8ZS5RD72I',
			coll: 'gallery'
		},
		{
			title: 'NL11HJNN',
			link: 'https://collections.newberry.org/asset-management/2KXJ8ZS5R7SEK',
			img: '2KXJ8ZS5R7SEK',
			coll: 'gallery'
		},
		{
			title: 'NL11HJN5',
			link: 'https://collections.newberry.org/asset-management/2KXJ8ZS5RAVIQ',
			img: '2KXJ8ZS5RAVIQ',
			coll: 'gallery'
		},
		{
			title: 'NL11HJN4',
			link: 'https://collections.newberry.org/asset-management/2KXJ8ZS5RA83W',
			img: '2KXJ8ZS5RA83W',
			coll: 'gallery'
		}
	];
</script>

<div class="link">
	<a href="https://digital.newberry.org/transcribe#" alt="" class="fl"> Return to Main Page </a>
</div>
<section class="flexer">
	<div class="left">
		<h3>Newberry Transcribathon: Social Activism Collections</h3>
		<div class="event-details">
			<dl>
				<dt>Date:</dt>
				<dd>Apr 20, 2023</dd>
				<dt>Time:</dt>
				<dd>1:00pm–3:00pm</dd>
				<dt>Location:</dt>
				<dd>Hybrid – Ruggles Hall and Zoom</dd>
			</dl>
		</div>
		<div class="event-info">
			<p>
				<a href="reg" target="_blank" class="fl"> Register at our event page! </a>
			</p>
			<hr />
			<div class="addl-info">
				<h4>Additional information</h4>
				<p>
					The Newberry is thrilled to announce our first-ever transcribathon! To celebrate National
					Volunteer Week, please join us on April 20 as we work together on improving access to our
					shared cultural heritage materials. Contributing your time transcribing digitized
					correspondence from the Newberry's collections will aid researchers around the world in
					finding, searching, and analyzing these unique primary sources – helping them to gain and
					share a fuller understanding of our past.
				</p>
				<p>
					Volunteering, service, and collaboration are also common themes in the content of the
					documents we’ll be transcribing. Along with the papers of early-20th century social
					reformers currently online at Newberry Transcribe, we’ll be adding more than 2,500
					handwritten pages from the collection of Graham Taylor (1851-1938), a leader of the
					settlement house movement and the founder of Chicago Commons. Letters to and from notables
					like Jane Addams, Clarence Darrow, and Henry Ford -- as well as the little-known
					parishioners, social workers, committee members, and others who helped operate the Commons
					-- cover topics including immigration, labor, civic reform, and public health in early
					20th-century Chicago.
				</p>
				<p>
					In addition to collaborative transcription activities, the event will also feature brief
					presentations on our manuscript collections and how they’re used in teaching and research,
					provided by Newberry staff experts Alison Hinderliter (Lloyd Lewis Curator of Modern
					Manuscripts and Archives), Jill Gage (Custodian of the John M. Wing Foundation on the
					History of Printing and Bibliographer for British Literature and History), and Kara
					Johnson (Director, Teacher Programs). Digital Initiatives staff members Jen Wolfe and
					Quinn Sluzenski will demonstrate, provide tips, and answer questions on using the
					transcription site.
				</p>
				<p />
				<ul>
					<li>
						This program will be held in-person at the Newberry and livestreamed on Zoom. Please
						register at our Event page.
					</li>
					<li>
						If you're attending the in-person event, please bring your own laptop. Refreshments will
						be provided.
					</li>
					<li>
						Instructors: we welcome classroom participation! For more information on how your class
						can take part in this or other Newberry transcription crowdsourcing efforts, contact our
						Teacher Programs department: teacherprograms@newberry.org
					</li>
					<li>Other questions? Contact Digital Initiatives and Services staff: dis@newberry.org</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="right">
		<div class="img-wrpr">
			<img src="/bluekids.png" alt="" />
		</div>
		<div class="gallery-wrpr">
			<Gallery itemData={imageGallery} />
		</div>
	</div>
</section>
<section class="noflex">
	<div class="addl-resources">
		<h4>Additional resources</h4>
		<p>
			No transcribing experience or advance preparation is necessary! Everyone is welcome. But for
			those of you who prefer to do your own research, see below.
		</p>
		<!-- <Tiles items={addlResourcesGallery} /> -->
	</div>
</section>

<style lang="scss">
	.flexer {
		display: flex;
		justify-content: stretch;
		align-items: stretch;
		column-gap: 16px;
	}
	.left,
	.right {
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}
	.left p,
	.left h4,
	.addl-resources p,
	.addl-resources h4 {
		margin-bottom: 16px;
	}
	.left ul {
		margin-left: 16px;
		list-style-type: square;
	}
	.gallery-wrpr {
		flex: 1;
		width: 100%;
	}
	.img-wrpr,
	img {
		width: 100%;
	}
</style>
