<script>
	import { base } from '$app/paths';
</script>

<h1>
	<a href="{base}/guidelines">guidelines</a>
</h1>
<h1>
	<a href="{base}/about">about</a>
</h1>

<h1>
	<a href="{base}/social-activism">soc ac</a>
</h1>
