<script>
	import { onMount } from 'svelte';
	import { JustifiedGrid } from '@egjs/svelte-grid';
	import { loadBp } from '$utils/load-bp';
	import { base } from '$app/paths';
	const data = [
		{
			title: 'Graham Taylor papers collection guide (Newberry)',
			link: 'https://archives.newberry.org/repositories/2/resources/266',
			img: '/bluekids.png',
			coll: 'external'
		},
		{
			title: 'Graham Taylor digital collection (Newberry)',
			link: 'https://collections.newberry.org/C.aspx?VP3=DamView&KW_RID=2KXJ2046NPD&FR_=1&W=1536&H=754',
			img: '/gratayshot.png',
			coll: 'external'
		},
		{
			title: 'Settlement Houses (Encyclopedia of Chicago)',
			link: 'http://www.encyclopedia.chicagohistory.org/pages/1135.html',
			img: '/settshot.png',
			coll: 'external'
		},
		{
			title: 'Our History (Chicago Commons)',
			link: "https://www.chicagocommons.org/about-2/our-history/#:~:text=Founded%20by%20Graham%20Taylor%20in,city's%20earliest%20kindergartens%20in%201897.",
			img: 'https://www.chicagocommons.org/wp-content/uploads/2017/03/1901.jpg ',
			coll: 'external'
		},
		{
			title: 'Teaching resource: The Jungle and the Community',
			subtitle: 'Workers and Reformers in Turn-of-the-Century Chicago (Newberry)',
			link: 'https://dcc.newberry.org/?p=14384',
			img: 'https://collections.newberry.org/IIIF3/Image/2KXJ8ZSG2FS19/full/,300/0/default.jpg',
			coll: 'external'
		},
		{
			title: 'Guidelines (Newberry)',
			link: 'https://digital.newberry.org/transcribe/guidelines/',
			img: '/guideshot.png',
			coll: 'transcribe'
		},
		{
			title: 'About our social activist collections (Newberry)',
			link: 'https://digital.newberry.org/transcribe/social-activism/',
			correctimg:
				'https://collections.newberry.org/IIIF3/Image/2KXJ8ZSG2JSQ9/full/,300/0/default.jpg',
			img: '/bluekids.png',
			coll: 'transcribe'
		},
		{
			title: 'Sample transcription:',
			subtitle: 'Vanzetti letter to Debs regarding death sentence and appeal, 1927 (Newberry)',
			link: 'https://publications.newberry.org/transcribe/#/item/1578/page/138705',
			img: 'https://digital.newberry.org/transcribe/omeka/files/original/130b23f784f9fba174c25aa943032821.jpg ',
			coll: 'transcribe'
		},
		{
			title: 'Featured transcriptions at Midwest Time Machine (Newberry)',
			link: 'https://digital.newberry.org/time-machine/',
			img: 'https://uploads.knightlab.com/storymapjs/bc2171fd2dc65da8b99c6c013d2dc670/julia-newberry/_images/julia-newberry-portrait-6191862.jpg  ',
			coll: 'transcribe'
		},
		{
			title: 'Featured transcriptions at @DigitalNewberry (Twitter)',
			link: 'https://twitter.com/search?q=(%23otd)%20(from%3Adigitalnewberry)&src=typed_query&f=live',
			img: '/tweet.png',
			coll: 'transcribe'
		}
	];
	const gap = 8;
	const sizeRange = [200, 650];
	const isCroppedSize = true;
	const outlineLength = 8;
	const outlineSize = 8;
	let bp;
	function openBiggerPicture(e) {
		e.preventDefault();
		const target = e.currentTarget;
		bp.open({
			items: document.querySelectorAll('#contents .content'),
			el: target,
			intro: 'fadeup',
			scale: 0.8
		});
	}
	onMount(async () => {
		bp = await loadBp();
	});
</script>

<div class="contents" id="contents">
	<JustifiedGrid class="container" {gap} {sizeRange}>
		{#each data as dat}
			<div class="grid-box">
				<a style="margin: 0;" class="content fl" href={dat.link} target="_blank">
					<img
						src={dat.img.indexOf('http') === 0 ? dat.img : base + dat.img}
						data-grid-maintained-target=""
						alt={dat.title}
					/>
					<div class="grid-overlay">
						<div class="inner-box">
							<p><span class="kinda-link-text">{dat.title}</span></p>
							{#if dat.subtitle}
								<p class="smlr"><span class="kinda-link-text">{dat.subtitle}</span></p>
							{/if}
						</div>
					</div>
				</a>
			</div>
		{/each}
	</JustifiedGrid>
</div>

<style lang="scss">
	@import '/src/newberry.scss';
	:global(.container a) {
		/* row-gap: 4px !important;
		column-gap: 4px !important; */
		vertical-align: baseline;
		padding: 0;
		margin: 0;
		border: 0;
		box-sizing: content-box !important;
		line-height: 0;
	}
	:global(.container div) {
		border: 0;
	}
	.content {
		position: relative;
		width: 100%;
		font-size: 0;
	}
	.grid-box {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		border: 1px solid black;
	}
	:global(.grid-box:hover .kinda-link-text) {
		background-size: 0 0.1em, 100% 0.1em !important;
	}
	.grid-overlay {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		box-shadow: 0px -10px 10px 0px rgba(15, 76, 129, 0.4);
		img {
			width: 100%;
			object-fit: cover;
		}
		.inner-box {
			flex: 1;
			text-align: center;
			width: 100%;
			font-size: 1.25rem;
			padding: 8px;
			// box-shadow: rgb(15 76 129) 0px 0px 10px;
			color: rgb(37, 37, 37);
			background: white;
			.kinda-link-text {
				color: rgba(var(--colorDark), 1);
				text-decoration: none;
				background: linear-gradient(
						to right,
						rgba(var(--colorDark), 0.3),
						rgba(var(--colorDark), 0.3)
					),
					linear-gradient(to right, rgba(var(--colorDark), 1), rgba(var(--colorDark), 1));
				background-size: 100% 0.1em, 0 0.1em;
				background-position: 100% 100%, 0 100%;
				background-repeat: no-repeat;
				transition: background-size 400ms;
			}
		}
		.smlr {
			font-size: 0.85rem;
		}
	}
	:global(.caption-link) {
		color: white !important;
	}
	.content > * {
		width: 100%;
	}
</style>
