<script>
	import { onMount } from 'svelte';
	import { JustifiedGrid } from '@egjs/svelte-grid';

	import { base } from '$app/paths';
	import { loadBp } from '$utils/load-bp';
	import { images as data } from '$data/images';
	const gap = 8;
	const isCroppedSize = true;
	const sizeRange = [125, 275];
	const outlineLength = 8;
	const outlineSize = 8;
	let bp;
	function openBiggerPicture(e) {
		e.preventDefault();
		const target = e.currentTarget;
		bp.open({
			items: document.querySelectorAll('#images .image'),
			el: target,
			intro: 'fadeup'
		});
	}
	onMount(async () => {
		bp = await loadBp();
	});
	const iiifUrlPrefix = 'https://collections.newberry.org/IIIF3/Image/';
	const iiifUrlSuffixThumb = '/full/,500/0/default.jpg';
	const iiifUrlSuffixFull = '/full/max/0/default.jpg';
	const ctxUrlPrefix = 'https://collections.newberry.org/asset-management/';
</script>

<div class="images" id="images">
	<figure>
		<a
			class="image"
			on:click={openBiggerPicture}
			href="{base}/bluekids.png"
			data-img="{base}/bluekids.png"
			data-thumb="{base}/bluekids.png"
			data.alt="transcribe hero"
			data-width="1600"
			data-height="921"
			data-caption="Image: from <a class='caption-link' href='https://archive.org/details/tenementconditio00city/page/n5/mode/2up' target='_blank'>Tenement conditions in Chicago</a> (1901)"
		>
			<img
				src="{base}/bluekids.png"
				data-grid-maintained-target=""
				class="hero"
				alt="transcribe hero"
			/>
		</a>
		<figcaption class="nostyle">
			Image: from <a
				href="https://archive.org/details/tenementconditio00city/page/n5/mode/2up"
				target="_blank"
				class="fl">Tenement conditions in Chicago</a
			> (1901)
		</figcaption>
	</figure>
	<JustifiedGrid class="container" {gap} {sizeRange} {isCroppedSize}>
		{#each data as dat}
			<a
				style="margin: 0;"
				class="image"
				on:click={openBiggerPicture}
				href={ctxUrlPrefix + dat.src}
				data-img={iiifUrlPrefix + dat.src + iiifUrlSuffixFull}
				data-thumb={iiifUrlPrefix + dat.src + iiifUrlSuffixThumb}
				data-alt={dat.title}
				data-width={dat.width}
				data-height={dat.height}
				data-caption="<a class='caption-link' target='_blank' href={ctxUrlPrefix +
					dat.src}> View in our digital collections</a>"
				><div>
					<img
						src={iiifUrlPrefix + dat.src + iiifUrlSuffixThumb}
						data-grid-maintained-target=""
						alt={dat.title}
					/>
				</div>
			</a>
		{/each}
	</JustifiedGrid>
</div>

<style lang="scss">
	:global(.container) {
		width: 100%;
	}
	:global(.container a) {
		vertical-align: baseline;
		padding: 0;
		margin: 0;
		// box-sizing: content-box !important;
		line-height: 0;
	}
	:global(.container div) {
		border: 0;
	}
	:global(figure) {
		margin: 0;
	}
	.nostyle {
		text-align: center;
		text-decoration: none;
		color: var(--colorDark);
		display: inline-block;
		margin-bottom: 12px;
	}
	figure {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.image img {
		border: 1px solid black;
	}
	.image {
		position: relative;
		width: 100%;
		font-size: 0;
	}

	:global(.caption-link) {
		color: rgba(var(--colorlight), 1);
		text-decoration: none;
		background: linear-gradient(
				to right,
				rgba(var(--colorLight), 0.5),
				rgba(var(--colorLight), 0.5)
			),
			linear-gradient(to right, rgba(var(--colorLight), 1), rgba(var(--colorLight), 1));
		background-size: 100% 0.1em, 0 0.1em;
		background-position: 100% 100%, 0 100%;
		background-repeat: no-repeat;
		transition: background-size 400ms;

		&:hover,
		&:focus {
			background-size: 0 0.1em, 100% 0.1em;
		}
	}
	.image img {
		width: 100%;
	}
</style>
