<script>
	import { ClickableTile } from 'carbon-components-svelte';
	export let dat;

	import { base } from '$app/paths';
	// title: 'Graham Taylor papers collection guide (Newberry)',
	// link: 'https://archives.newberry.org/repositories/2/resources/266',
	// img: '/bluekids.png',
	// coll: 'external'
</script>

<ClickableTile href={dat.link} target="_blank">
	<img
		src={dat.img.indexOf('http') === 0 ? dat.img : base + dat.img}
		alt={dat.title}
		class="circle{dat.img.indexOf('/mtm.jp') === 0 ? ' align-right' : ' center'}"
	/>
	<div class="padder">
		<p class="title">
			{dat.title}
			{#if dat.subtitle}
				{dat.subtitle}
			{/if}
		</p>
	</div>
</ClickableTile>

<style>
	.padder {
		padding: 0 16px 16px 16px;
	}
	:global(.bx--tile) {
		padding: 0;
	}
	.subtitle {
		font-size: 0.86rem;
	}
	:global(.bx--tile p.title) {
		color: rgba(var(--colorDark), 1);
		text-decoration: none;
		background: linear-gradient(to right, rgba(var(--colorDark), 0.3), rgba(var(--colorDark), 0.3)),
			linear-gradient(to right, rgba(var(--colorDark), 1), rgba(var(--colorDark), 1));
		background-size: 100% 0.1em, 0 0.1em;
		background-position: 100% 100%, 0 100%;
		background-repeat: no-repeat;
		transition: background-size 400ms;
	}
	:global(.bx--tile:hover p.title) {
		background-size: 0 0.1em, 100% 0.1em;
	}
	.circle {
		object-fit: cover;
		width: 300px;
		height: 300px;
		margin-bottom: 5px;
		box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
	}
	.center {
		object-position: 50% 50%;
	}
	.align-right {
		object-position: center right;
	}
	.title {
		flex: 1;
		display: inline;
	}
</style>
