<script>
	import { images } from '$data/images';
	const iiifUrlPrefix = 'https://collections.newberry.org/IIIF3/Image/';
	const iiifUrlSuffixThumb = '/full/,500/0/default.jpg';
	const iiifSpecialSuffix = '/full/max/%5C!0/default.jpg';
</script>

<div class="container">
	<div class="page-title">
		<h3 class="page-title-part">Newberry Transcribathon:</h3>
		<h4 class="page-title-part">Social Activism Collections</h4>
	</div>
	<div class="event-details">
		<dl>
			<dt>Date:</dt>
			<dd>Apr 20, 2023</dd>
			<dt>Time:</dt>
			<dd>1:00pm-3:00pm</dd>
			<dt>Location:</dt>
			<dd>Hybrid: Ruggles Hall and Zoom</dd>
		</dl>
		<a
			href="https://www.newberry.org/calendar/newberry-transcribathon-social-activism-collections"
			target="_blank"
			class="btn"
		>
			Register at our event page!
		</a>
	</div>
</div>
<h4>Additional information</h4>
<div class="container">
	<div class="image">
		<figure>
			<img src="/bluekids.png" alt="" />
			<figcaption>
				Image: from <a
					class="fl"
					href="https://archive.org/details/tenementconditio00city/page/n5/mode/2up"
					target="_blank"
				>
					Tenement conditions in Chicago
				</a>
				(1901)
			</figcaption>
		</figure>
	</div>
	<div class="addl-info">
		<h4 class="section-header">Additional information</h4>
		<p class="main-text">
			The Newberry is thrilled to announce our first-ever transcribathon! To celebrate
			<a href="https://www.pointsoflight.org/national-volunteer-week/" target="_blank" class="fl">
				National Volunteer Week,
			</a>
			please join us on April 20 as we work together on improving access to our shared cultural heritage
			materials. Contributing your time transcribing digitized correspondence from the Newberry's collections
			will aid researchers around the world in finding, searching, and analyzing these unique primary
			sources – helping to build and share a fuller understanding of our past.
		</p>
	</div>

	<div class="image">
		<figure>
			<img src={iiifUrlPrefix + images[0].src + iiifUrlSuffixThumb} alt="" />

			<figcaption>View at our digital collections</figcaption>
		</figure>
	</div>
	<div class="addl-info">
		<p class="main-text">
			Volunteering, service, and collaboration are also common themes in the content of the
			documents we’ll be transcribing. Along with the papers of early-20th century social reformers
			currently online at Newberry Transcribe, we’ll be adding more than 2,500 handwritten pages
			from the collection of Graham Taylor (1851-1938), a leader of the settlement house movement
			and the founder of Chicago Commons. Correspondence with notables like Jane Addams, Clarence
			Darrow, and Henry Ford -- as well as with the little-known parishioners, social workers,
			committee members, and others who helped operate the Commons -- cover topics including
			immigration, labor, civic reform, and public health in early 20th-century Chicago.
		</p>
	</div>
	<div class="image">
		<figure>
			<img src={iiifUrlPrefix + images[1].src + iiifUrlSuffixThumb} alt="" />
			<figcaption>View at our digital collections</figcaption>
		</figure>
	</div>
	<div class="addl-info">
		<p class="main-text">
			In addition to collaborative transcription activities, the event will also feature brief
			presentations on our manuscript collections and how they’re used in teaching and research,
			provided by Newberry staff experts Alison Hinderliter (Lloyd Lewis Curator of Modern
			Manuscripts and Archives), Jill Gage (Custodian of the John M. Wing Foundation on the History
			of Printing and Bibliographer for British Literature and History), and Kara Johnson (Director,
			Teacher Programs). Digital Initiatives staff members Jen Wolfe and Quinn Sluzenski will
			demonstrate, provide tips, and answer questions on using the transcription site.
		</p>
	</div>

	<div class="image">
		<figure>
			<img src={iiifUrlPrefix + images[2].src + iiifUrlSuffixThumb} alt="" />
			<figcaption>View at our digital collections</figcaption>
		</figure>
	</div>
	<div class="addl-info">
		<ul>
			<li>
				This program will be held in-person at the Newberry and livestreamed on Zoom. Please
				register at our
				<a
					href="https://www.newberry.org/calendar/newberry-transcribathon-social-activism-collections"
					target="_blank"
					class="fl"
				>
					our Event page
				</a>.
			</li>
			<li>
				If you're attending the in-person event, please bring your own laptop. Refreshments will be
				provided.
			</li>
			<li>
				Instructors: we welcome classroom participation! For more information on how your class can
				take part in this or other Newberry transcription crowdsourcing efforts, contact our Teacher
				Programs department:
				<a href="mailto:teacherprograms@newberry.org" class="fl"> teacherprograms@newberry.org </a>
			</li>
			<li>
				Other questions? Contact Digital Initiatives and Services staff: <a
					href="mailto:dis@newberry.org"
					class="fl"
				>
					dis@newberry.org
				</a>
			</li>
		</ul>
	</div>
</div>

<style>
	img {
		max-width: 400px;
		max-height: 400px;
	}
	.text {
		display: flex;
		flex-direction: column;
	}
	.container,
	.text,
	.image {
		justify-content: center;
		align-items: center;
	}
	.container {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));

		grid-template-rows: repeat(6, 400px);
		grid-gap: 16px;
	}

	ul {
		margin-left: 32px;
		list-style-type: square;
	}
</style>
