<script>
	import { pageHeader } from '$lib/stores';
	$pageHeader = ': About';
</script>

<div class="link">
	<a href="https://digital.newberry.org/transcribe#" alt="" class="fooncy-loonks">
		Return to Main Page
	</a>
</div>

<h3>About this project</h3>
<p>
	Newberry Transcribe lets you contribute to historical scholarship, while learning about the
	everyday lives of individuals from a wide variety of backgrounds in the 19th and early 20th
	centuries. By transcribing handwritten letters, diaries, and other materials from the Newberry's
	Modern Manuscript Collections, you're helping to preserve these voices from the past -- making
	their stories easier to find, search, and read.
</p>

<h3>FAQs</h3>
<dl>
	<dt>Why transcribe?</dt>
	<dd>
		Crowdsourced transcription projects like Newberry Transcribe give participants the chance to
		engage with manuscripts in new and exciting ways while also contributing to scholarship and
		expanding public access to previously hard-to-access documents. By allowing users to transcribe
		these documents, transcription projects make it possible to create searchable digitized texts
		for scholars to use in their research and members of the public to examine at their leisure.
		Though primary sources such as the items included in Newberry Transcribe are likely of great
		value to historians, sociologists, and other scholars, libraries lack the staff that would be
		needed to transcribe manuscript content on such a large scale. In order to make the collections
		searchable by researchers, the Newberry is turning to the public for help.
	</dd>
	<dt>What manuscripts are available to transcribe?</dt>
	<dd>
		Newberry Transcribe allows users to transcribe letters, diaries, journals, and other material
		from the Newberry’s Modern Manuscripts Collections, a repository of American manuscripts from
		the mid-18th through the 20th centuries. The content of the more than 800 physical collections
		mirrors the library’s collecting strengths, including all aspects of the history and culture of
		Chicago and the Midwest, American Indians, American History and Culture, Printing and Book Arts,
		Music, Religion, Genealogy, and Maps, Travel and Exploration.
	</dd>
	<dd>
		Currently, Newberry Transcribe features selections of correspondence and other documents created
		by prominent social reformers of 20th-century Chicago. Learn more: <a
			href="https://publications.newberry.org/social-activism"
			target="_blank"
			class="fooncy-links"
			rel="noopener noreferrer">Transcribing Social Activism.</a
		>
	</dd>
	<dt>How can I get started?</dt>
	<dd>
		To get started, visit our <a
			href="https://publications.newberry.org/transcribe/guidelines/"
			target="_blank"
			class="fooncy-links"
			rel="noopener noreferrer">Guidelines page</a
		> for an overview of the transcription process.
	</dd>
	<dt>How can I view or search the transcriptions?</dt>
	<dd>
		Completed transcriptions can be accessed using the search box at the left on the Newberry
		Transcribe home page. Additionally, they will be at our digital collections site, where they can
		be searched and browsed. Access the in-progress collection here: <a
			href="https://collections.newberry.org/Share/5465d67708o0qorw52h84fx38w2as616"
			target="_blank"
			class="fooncy-links"
			rel="noopener noreferrer">Transcribed manuscripts at Newberry Digital Collections</a
		>. Finally, to encourage digital scholarship projects, we have made the transcriptions available
		as a
		<a
			href="https://publications.newberry.org/transcribe/data/itemTranscriptions.json"
			target="_blank"
			class="fooncy-links"
			rel="noopener noreferrer">JSON data set.</a
		>
	</dd>
	<dt>What software does Newberry Transcribe use?</dt>
	<dd>
		Newberry Transcribe is powered by Omeka with Scripto, open-source tools developed by the Roy
		Rosenzweig Center for History and New Media to enable community transcriptions of document
		files. The front end is written in React JavaScript; <a
			href="https://github.com/newberrydis/transcribe"
			target="_blank"
			class="fooncy-links"
			rel="noopener noreferrer">our code repository can be found here</a
		>
	</dd>
	<dt>Questions or comments?</dt>
	<dd>
		Contact us on Twitter <a
			href="https://twitter.com/digitalnewberry"
			target="_blank"
			class="fooncy-links"
			rel="noopener noreferrer">@DigitalNewberry</a
		> or email dis@newberry.org
	</dd>
</dl>

<style>
	h3 {
		margin: 0 0 16px 0;
	}
	dd {
		margin: 0 0 8px 0;
	}
	dd {
		font-family: 'signifier';
		font-size: 16px;
	}
	dl,
	p {
		margin: 16px 0 32px 32px;
	}
	dt {
		font-size: 1.1rem;
	}
	.link {
		margin-bottom: 32px;
	}
	.fooncy-loonks {
		color: rgb(37, 37, 37);
		text-decoration: none;
		background: linear-gradient(to right, rgba(37, 37, 37, 0.5), rgba(37, 37, 37, 0.5)),
			linear-gradient(to right, rgba(37, 37, 37, 1), rgba(37, 37, 37, 1));
		background-size: 100% 0.1em, 0 0.1em;
		background-position: 100% 100%, 0 100%;
		background-repeat: no-repeat;
		transition: background-size 400ms;
	}

	.fooncy-loonks:hover,
	.fooncy-loonks:focus {
		background-size: 0 0.1em, 100% 0.1em;
	}
</style>
