<script>
    import { AspectRatio, ClickableTile } from "carbon-components-svelte";
    import SpeechToText from "carbon-pictograms-svelte/lib/SpeechToText.svelte";
    export let feature,
        tallboy = false;
</script>

<ClickableTile href={feature.transUrl}>
    <div class={tallboy ? "vert-wrpr" : "horiz-wrpr"}>
        <div class="lilwrpr">
            <SpeechToText class="picon" />
        </div>
        <div class="texts lilwrpr">
            <h5 class="toptext">
                Transcribe {feature.shortname}
            </h5>
            <p class="bottomtext">at Newberry Transcribe</p>
        </div>
    </div>
</ClickableTile>

<style lang="scss">
    @import "/src/newberry.scss";
    .horiz-wrpr {
        @include flex-row;
        .lilwrpr {
            align-items: flex-start;
            &.texts {
                padding-left: 16px;
            }
        }
    }
    .vert-wrpr {
        @include flex-col;
        justify-content: center;
        align-items: center;
        .lilwrpr {
            align-items: center;
        }
    }
    .lilwrpr {
        @include flex-col;
        justify-content: center;
        margin: 0;

        .toptext,
        .bottomtext {
            text-align: center;
        }
        .bottomtext {
            font-size: 12px;
        }
    }

    :global(.bx--tile.bx--tile--clickable.bx--link) {
        @include transcribe-look;
        // srsly wtf why is this 1px off; follow me for more hacky fix
        padding: 15px 16px;
        width: 100%;
    }
</style>
