<script>
    import { base } from "$app/paths";
    export let feature;
    let src =
        base +
        "/" +
        (feature.img.indexOf("onroy") > -1
            ? "conroy-sm-f.png"
            : feature.img.indexOf("alden") > -1
            ? "mayWalden.png"
            : "picasso.png");
    let style =
        "background: linear-gradient(to right,rgba(255, 255, 255, 0) 20%,rgba(255, 255, 255, 1)),url({base}/{feature.img}); background-size: auto 500px; background-position: {feature.position};";
</script>

<div class="imgbox">
    <img {src} alt="" />
</div>

<style lang="scss">
    .imgbox {
        border: 1px solid rgba(37, 37, 37, 0.5);
        height: 20vw;
        width: 20vw;
        min-width: 200px;
        min-height: 200px;
        margin-left: 8px;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: right top;
        }
    }
</style>
