<script>
	export let feature;
</script>

<div class="quotebox">
	{@html feature.mainText} &mdash;
	<a href={feature.mainTextCitation.url} class="fooncy-loonks" target="_blank" rel="noreferrer">
		{feature.mainTextCitation.text}
	</a>
</div>

<style lang="scss">
	@import '/src/newberry.scss';
	.fooncy-loonks {
		@include fooncy-links;
	}
	.quotebox {
		margin: 0 8px 0 16px;
	}
</style>
