<script>
	import Gallery from '$lib/gallery.svelte';
	import Tiles from '$lib/alt-tiles.svelte';

	import { images } from '$data/images';
	import MediaQuery from 'svelte-media-queries';
	const ctxUrlPrefix = 'https://collections.newberry.org/asset-management/';
	const ctxUrlSuffix = '?WS=AssetManagement';
	const iiifUrlPrefix = 'https://collections.newberry.org/IIIF3/Image/';
	const iiifUrlSuffixThumb = '/full/,500/0/default.jpg';
	const iiifUrlSuffixFullSize = '/full/max/0/default.jpg';
</script>

<MediaQuery query="(min-width: 1281px)" let:matches>
	{#if matches}
		<div class="link">
			<a href="https://digital.newberry.org/transcribe#" alt="" class="fl"> Return to Main Page </a>
		</div>
		<section class="flexer">
			<div class="left">
				<div class="page-title">
					<h3 class="page-title-part">Newberry Transcribathon:</h3>
					<h4 class="page-title-part">Social Activism Collections</h4>
				</div>
				<div class="event-details">
					<dl>
						<dt>Date:</dt>
						<dd>Apr 20, 2023</dd>
						<dt>Time:</dt>
						<dd>1:00pm–3:00pm</dd>
						<dt>Location:</dt>
						<dd>Hybrid – Ruggles Hall and Zoom</dd>
					</dl>
				</div>
				<div class="event-info">
					<p>
						<a
							href="https://www.newberry.org/calendar/newberry-transcribathon-social-activism-collections"
							target="_blank"
							class="fl"
						>
							Register at our event page!
						</a>
					</p>
					<hr />
					<div class="addl-info">
						<h4 class="section-header">Additional information</h4>
						<p>
							The Newberry is thrilled to announce our first-ever transcribathon! To celebrate
							National Volunteer Week, please join us on April 20 as we work together on improving
							access to our shared cultural heritage materials. Contributing your time transcribing
							digitized correspondence from the Newberry's collections will aid researchers around
							the world in finding, searching, and analyzing these unique primary sources – helping
							them to gain and share a fuller understanding of our past.
						</p>
						<p>
							Volunteering, service, and collaboration are also common themes in the content of the
							documents we’ll be transcribing. Along with the papers of early-20th century social
							reformers currently online at Newberry Transcribe, we’ll be adding more than 2,500
							handwritten pages from the collection of Graham Taylor (1851-1938), a leader of the
							settlement house movement and the founder of Chicago Commons. Letters to and from
							notables like Jane Addams, Clarence Darrow, and Henry Ford -- as well as the
							little-known parishioners, social workers, committee members, and others who helped
							operate the Commons -- cover topics including immigration, labor, civic reform, and
							public health in early 20th-century Chicago.
						</p>
						<p>
							In addition to collaborative transcription activities, the event will also feature
							brief presentations on our manuscript collections and how they’re used in teaching and
							research, provided by Newberry staff experts Alison Hinderliter (Lloyd Lewis Curator
							of Modern Manuscripts and Archives), Jill Gage (Custodian of the John M. Wing
							Foundation on the History of Printing and Bibliographer for British Literature and
							History), and Kara Johnson (Director, Teacher Programs). Digital Initiatives staff
							members Jen Wolfe and Quinn Sluzenski will demonstrate, provide tips, and answer
							questions on using the transcription site.
						</p>
						<p />
						<ul>
							<li>
								This program will be held in-person at the Newberry and livestreamed on Zoom. Please
								register at our Event page.
							</li>
							<li>
								If you're attending the in-person event, please bring your own laptop. Refreshments
								will be provided.
							</li>
							<li>
								Instructors: we welcome classroom participation! For more information on how your
								class can take part in this or other Newberry transcription crowdsourcing efforts,
								contact our Teacher Programs department: teacherprograms@newberry.org
							</li>
							<li>
								Other questions? Contact Digital Initiatives and Services staff: dis@newberry.org
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="right">
				<div class="gallery-wrpr">
					<Gallery />
				</div>
			</div>
		</section>
	{/if}
</MediaQuery>

<MediaQuery query="(max-width: 1280px)" let:matches>
	{#if matches}
		<div class="link">
			<a href="https://digital.newberry.org/transcribe#" alt="" class="fl"> Return to Main Page </a>
		</div>

		<div class="page-title">
			<h3 class="page-title-part">Newberry Transcribathon:</h3>
			<h4 class="page-title-part">Social Activism Collections</h4>
		</div>
		<div class="event-details">
			<dl>
				<dt>Date:</dt>
				<dd>Apr 20, 2023</dd>
				<dt>Time:</dt>
				<dd>1:00pm-3:00pm</dd>
				<dt>Location:</dt>
				<dd>Hybrid: Ruggles Hall and Zoom</dd>
			</dl>
			<a
				href="https://www.newberry.org/calendar/newberry-transcribathon-social-activism-collections"
				target="_blank"
				class="btn"
			>
				Register at our event page!
			</a>
		</div>
		<div class="image">
			<figure>
				<img src="/bluekids.png" alt="" />
				<figcaption>
					Image: from <a
						class="fl"
						href="https://archive.org/details/tenementconditio00city/page/n5/mode/2up"
						target="_blank"
					>
						Tenement conditions in Chicago
					</a>
					(1901)
				</figcaption>
			</figure>
		</div>
		<div class="addl-info">
			<h4 class="section-header">Additional information</h4>
			<p class="main-text">
				The Newberry is thrilled to announce our first-ever transcribathon! To celebrate
				<a href="https://www.pointsoflight.org/national-volunteer-week/" target="_blank" class="fl">
					National Volunteer Week,
				</a>
				please join us on April 20 as we work together on improving access to our shared cultural heritage
				materials. Contributing your time transcribing digitized correspondence from the Newberry's collections
				will aid researchers around the world in finding, searching, and analyzing these unique primary
				sources – helping to build and share a fuller understanding of our past.
			</p>
		</div>

		<div class="image">
			<figure>
				<img src={iiifUrlPrefix + images[0].src + iiifUrlSuffixThumb} alt="" />

				<figcaption>View at our digital collections</figcaption>
			</figure>
		</div>
		<div class="addl-info">
			<p class="main-text">
				Volunteering, service, and collaboration are also common themes in the content of the
				documents we’ll be transcribing. Along with the papers of early-20th century social
				reformers currently online at Newberry Transcribe, we’ll be adding more than 2,500
				handwritten pages from the collection of Graham Taylor (1851-1938), a leader of the
				settlement house movement and the founder of Chicago Commons. Correspondence with notables
				like Jane Addams, Clarence Darrow, and Henry Ford -- as well as with the little-known
				parishioners, social workers, committee members, and others who helped operate the Commons
				-- cover topics including immigration, labor, civic reform, and public health in early
				20th-century Chicago.
			</p>
		</div>
		<div class="image">
			<figure>
				<img src={iiifUrlPrefix + images[1].src + iiifUrlSuffixThumb} alt="" />
				<figcaption>View at our digital collections</figcaption>
			</figure>
		</div>
		<div class="addl-info">
			<p class="main-text">
				In addition to collaborative transcription activities, the event will also feature brief
				presentations on our manuscript collections and how they’re used in teaching and research,
				provided by Newberry staff experts Alison Hinderliter (Lloyd Lewis Curator of Modern
				Manuscripts and Archives), Jill Gage (Custodian of the John M. Wing Foundation on the
				History of Printing and Bibliographer for British Literature and History), and Kara Johnson
				(Director, Teacher Programs). Digital Initiatives staff members Jen Wolfe and Quinn
				Sluzenski will demonstrate, provide tips, and answer questions on using the transcription
				site.
			</p>
		</div>

		<div class="image">
			<figure>
				<img src={iiifUrlPrefix + images[2].src + iiifUrlSuffixThumb} alt="" />
				<figcaption>View at our digital collections</figcaption>
			</figure>
		</div>
		<div class="addl-info">
			<ul>
				<li>
					This program will be held in-person at the Newberry and livestreamed on Zoom. Please
					register at our
					<a
						href="https://www.newberry.org/calendar/newberry-transcribathon-social-activism-collections"
						target="_blank"
						class="fl"
					>
						our Event page
					</a>.
				</li>
				<li>
					If you're attending the in-person event, please bring your own laptop. Refreshments will
					be provided.
				</li>
				<li>
					Instructors: we welcome classroom participation! For more information on how your class
					can take part in this or other Newberry transcription crowdsourcing efforts, contact our
					Teacher Programs department:
					<a href="mailto:teacherprograms@newberry.org" class="fl">
						teacherprograms@newberry.org
					</a>
				</li>
				<li>
					Other questions? Contact Digital Initiatives and Services staff: <a
						href="mailto:dis@newberry.org"
						class="fl"
					>
						dis@newberry.org
					</a>
				</li>
			</ul>
		</div>
		<div class="image">
			<figure>
				<img src={iiifUrlPrefix + images[3].src + iiifUrlSuffixThumb} alt="" />
				<figcaption>View at our digital collections</figcaption>
			</figure>
		</div>
	{/if}
</MediaQuery>

<section class="noflex">
	<div class="addl-resources">
		<h4>Additional resources</h4>
		<p>
			No transcribing experience or advance preparation is necessary! Everyone is welcome. But for
			those of you who prefer to do your own research, see below.
		</p>
		<Tiles />
	</div>
</section>

<style lang="scss">
	.flexer {
		display: flex;
		justify-content: stretch;
		align-items: stretch;
		column-gap: 16px;
	}
	.left,
	.right {
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}
	.left {
		margin-right: 32px;
	}
	.left p,
	.section-header,
	.addl-resources p {
		margin-bottom: 16px;
	}
	.addl-resources h4 {
		margin: 16px 0;
	}
	.page-title {
		margin: 8px 0 8px 0;
	}
	.left ul {
		margin-left: 16px;
		list-style-type: square;
	}
	.gallery-wrpr {
		flex: 1;
		width: 100%;
	}
	.img-wrpr,
	img {
		width: 100%;
	}
	.event-details {
		margin: 16px 64px;
	}
</style>
