<script>
    export let fill = "#4051a3;";
</script>

<div class="wrap">
    <svg
        width="142.92999mm"
        height="137.61mm"
        viewBox="0 0 142.92999 137.61"
        class="header-svg"
        style="fill: ${fill};"
    >
        <g
            inkscape:label="Layer 1"
            inkscape:groupmode="layer"
            id="layer1"
            transform="translate(2.673e-6,-159.39001)"
        >
            <g
                id="nnn"
                transform="matrix(2.6458719,0,0,2.6458373,-752.30076,-784.3537)"
            >
                <g id="g77">
                    <polygon
                        id="polygon75"
                        points="303.07,368.35 303.07,368.18 309.18,364.45 315.29,368.18 315.3,408.7 330.28,408.7 338.35,401.32 334.03,401.32 334.03,368.21 316.29,356.69 303.07,364.73 303.07,359.32 284.33,369.91 284.33,408.7 303.14,408.7 303.14,368.21 "
                        class="st0"
                        style="clip-rule:evenodd;fill-rule:evenodd"
                    />
                </g>
            </g>
        </g>
    </svg>
</div>

<style lang="scss">
    @use "@carbon/themes";
    .header-svg {
        display: block;
        width: 32px;
        height: 32px;
    }
</style>
