@use "sass:color";

@mixin slashy($rightSide:rgb(var(--colorLight)),$leftSide:rgb(var(--colorSplash))) {
    background: linear-gradient(
        var(--angleDegs),
        $rightSide 0vw, var(--distance),
        $leftSide var(--distance) 100vw
    );
    background-attachment: fixed !important;
}

@mixin newberry-colors {
--flame: 241,97,81;
--parkGreen: 32,84,62;
--tile: 146,88,64;
--sapphire: 64,81,163;
--lake: 126,196,226;
--mulberry: 173,43,90;
--lavender: 205,184,209;
--midnight: 17,26,42;
--sand: 234,220,201;
--granite: 234,235,231;
}

@mixin fooncy-links {
    color: rgba(var(--colorDark), 1);
    text-decoration: none;
    background: linear-gradient(to right,
            rgba(var(--colorDark), 0.3),
            rgba(var(--colorDark), 0.3)),
        linear-gradient(to right, rgba(var(--colorDark), 1), rgba(var(--colorDark), 1));
    background-size: 100% 0.1em, 0 0.1em;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;

    &:hover,
    &:focus {
        background-size: 0 0.1em, 100% 0.1em;
    }
}

@mixin fooncy-underline {
    color: rgba(var(--colorDark), 1);
    text-decoration: none;
    background: linear-gradient(to right,
            rgba(var(--colorDark), 0.3),
            rgba(var(--colorDark), 0.3)),
        linear-gradient(to right, rgba(var(--colorDark), 1), rgba(var(--colorDark), 1));
    background-size: 100% 0.1em, 0 0.1em;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
}
.fl {
    @include fooncy-links;
}
.fu {
    @include fooncy-links;
}

body {
    @include newberry-colors;
    @include slashy;
    --colorLight: var(--sapphire);
    --colorDark: var(--lavender);
    --colorSplash: var(--midnight);
    --colorLight: var(--granite);
    --colorDark: var(--sapphire);
    --colorSplash: var(--lavender);
    --angleDegs: 210deg;
    --distance: 40vw;
    min-height: calc(100vh - 76px);
    color: rgba(var(--colorDark), 1);
   

}

h3,
h4,
h5,
h6{
    font-family: "styreneb" !important;
    font-weight: bold;
}
h1,
h2, .nist.numbr {
    font-family: "flechamm" !important;
}

dt {
    font-family: "signifier-bold" !important;
}
p, li, dd {

    font-family: "signifier";
}

@font-face {
    font-family: "flecham";
    src: url("/fonts/FlechaM-Regular.woff") format("woff");
}
@font-face {
    font-family: "signifier";
    src: url("/fonts/signifier-regular.woff2") format("woff2");
}
@font-face {
    font-family: "signifier-bold";
    src: url("/fonts/signifier-bold.woff2") format("woff2");
}
@font-face {
    font-family: "styreneb";
    src: url("/fonts/StyreneB-Regular-Web.woff") format("woff");
}
@font-face {
    font-family: "styrene-bold";
    src: url("/fonts/StyreneB-Bold-Web.woff") format("woff");
}
@font-face {
    font-family: "flecha-black";
    src: url("/fonts/FlechaM-Black.woff") format("woff");
}
@font-face {
    font-family: "flecha-bold";
    src: url("/fonts/FlechaM-Bold.woff") format("woff");
}
@font-face {
    font-family: "flechamm";
    src: url("/fonts/FlechaM-Medium.woff2") format("woff2");
}
