<script>
	export let itemData;
	import { onMount } from 'svelte';
	import { loadBp } from '$utils/loadBp';
	let bp, bpImages, caption;
	onMount(async () => {
		bp = await loadBp();
		function bpStartup() {
			bpImages = document.querySelectorAll('#images a');
			for (let link of bpImages) {
				link.addEventListener('click', openGallery);
			}
		}
		bpStartup();
		function openGallery(e) {
			e.preventDefault();
			bp.open({
				cap: caption,
				items: bpImages,
				el: e.currentTarget,
				intro: 'fadeup'
			});
		}
	});
	const urlPrefix = 'https://collections.newberry.org/IIIF3/Image/';
	const thumbSuffix = '/full/,300/0/default.jpg';
	const imgSuffix = '/full/max/0/default.jpg';
	const thumbUrl = urlPrefix + itemData.img + thumbSuffix;
	const imgUrl = urlPrefix + itemData.img + imgSuffix;
	let scaleValue = '// scale: 0.94,';
</script>

<a href={itemData.link} data-img={imgUrl} data-thumb={thumbUrl} data-alt={itemData.title}>
	<img src={thumbUrl} alt={itemData.title} />
</a>

<style>
	:global(.bp-html *) {
		height: calc(100% - 48px);
		margin: auto;
		width: 85%;
		height: 85%;
	}
	/* :global(.bp-img img) {
		height: calc(100vh - 55px);
	} */
	:global(.bp-img) {
		top: calc(50% + 25px);
	}
	#images {
		display: flex;
		flex-wrap: wrap;
	}
</style>
