<script>
	import { onMount } from 'svelte';
	import { loadBp } from '$utils/loadBp';
	import { JustifiedGrid } from '@egjs/svelte-grid';
	import Bigpic from '$lib/bigpic.svelte';
	// import 'bigger-picture/css';
	// export let itemData = Array.from({ length: 10 }).map((_, i) => ({
	export let itemData;
	const gap = 5;
	const defaultDirection = 'end';
	const rowRange = 0;
	const columnRange = [1, 8];
	const sizeRange = [200, 1000];
	const isCroppedSize = false;
	const displayedRow = -1;
	let bp, bpImages, caption;
	onMount(async () => {
		bp = await loadBp();
		function bpStartup() {
			bpImages = document.querySelectorAll('#images a');
			for (let link of bpImages) {
				link.addEventListener('click', openGallery);
			}
		}
		bpStartup();
		function openGallery(e) {
			e.preventDefault();
			bp.open({
				cap: caption,
				items: bpImages,
				el: e.currentTarget,
				onOpen(container, activeItem) {
					console.log('container', container);
					console.log('activeItem', activeItem);
				}
			});
		}
	});
	const urlPrefix = 'https://collections.newberry.org/IIIF3/Image/';
	const thumbSuffix = '/full/,300/0/default.jpg';
	const imgSuffix = '/full/max/0/default.jpg';
	// console.log(itemData);
	// <JustifiedGrid
	// class="container"
	// {defaultDirection}
	// {gap}
	// {rowRange}
	// {columnRange}
	// {sizeRange}
	// {isCroppedSize}
	// {displayedRow}
	// >
	// </JustifiedGrid>
</script>

<div id="images">
	{#each itemData as dat}
		<Bigpic itemData={dat} />
	{/each}
</div>
