<script>
	import { JustifiedGrid } from '@egjs/svelte-grid';
	import { ClickableTile } from 'carbon-components-svelte';
	export let items;
	const gap = 5;
	const sizeRange = [300, 400];
	const isCroppedSize = true;

	const urlPrefix = 'https://collections.newberry.org/IIIF3/Image/';
	const thumbSuffix = '/full/,300/0/default.jpg';
	const imgSuffix = '/full/max/0/default.jpg';
</script>

<JustifiedGrid class="container" {gap} {sizeRange} {isCroppedSize}>
	{#each items as item}
		<div class="item">
			<ClickableTile>
				<div class="tile-liner">
					<img
						alt={item.title}
						src={item.img.includes('http') || item.img.charAt(0) === '/'
							? item.img
							: urlPrefix + item.img + thumbSuffix}
					/>
					<p>
						{item.title}
					</p>
				</div>
			</ClickableTile>
		</div>
	{/each}
</JustifiedGrid>

<style lang="scss">
	.item {
		position: absolute;
		color: white;
		text-align: center;
		height: 300px;
	}
	:global(.item .bx--tile) {
		padding: 0;
	}

	.tile-liner {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 300px;
		img {
			object-fit: cover;
			overflow: hidden;
			width: 100%;
			height: 100%;
		}
		p {
			flex: 1;
			padding: 8px;
		}
	}
</style>
