div {
    box-sizing: border-box;
}

h3 {
    font-size: 28px;
}

h3,
h4,
h5,
h6,
dt {
    font-family: "styrene" !important;
    font-weight: 700 !important;
}

h1,
h2 {
    font-family: "flecha" !important;
}
html, body, div, span, p, blockquote, a, cite, em, img, dl, dd, ol, ul, li {
    font-family: "signifier" !important;
}


@font-face {
    font-family: "flecha";
    src: url("/fonts/FlechaM-Regular.woff") format("woff");
}

@font-face {
    font-family: "signifier";
    src: url("/fonts/signifier-regular.woff2") format("woff2");
}

@font-face {
    font-family: "styrene";
    src: url("/fonts/StyreneB-Regular-Web.woff") format("woff");
}

@font-face {
    font-family: "styreneb";
    src: url("/fonts/StyreneB-Bold-Web.woff") format("woff");
}


.fooncy-links {
    color: rgb(37, 37, 37);
    text-decoration: none;
    background: linear-gradient(to right,
            rgba(37, 37, 37, 0.3),
            rgba(37, 37, 37, 0.3)),
        linear-gradient(to right, rgba(37, 37, 37, 1), rgba(37, 37, 37, 1));
    background-size: 100% 0.1em, 0 0.1em;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;

    &:hover,
    &:focus {
        background-size: 0 0.1em, 100% 0.1em;
    }
}
