h3,
h4,
h5,
h6,
dt {
    font-family: "styreneb" !important;
    font-weight: bold;
}

h1,
h2 {
    font-family: "flecham-medium" !important;
}
html, body, div, span, p, blockquote, a, cite, em, img, dl, dd, ol, ul, li {
    font-family: "signifier" !important;
}

// @font-face {
//     font-family: "flecham";
//     src: url("/fonts/FlechaM-Regular.woff") format("woff");
// }

@font-face {
    font-family: "flecham-medium";
    src: url("/fonts/FlechaM-Medium.woff2") format("woff2");
}

// @font-face {
//     font-family: "flecham-black";
//     src: url("/fonts/FlechaM-Black.woff") format("woff");
// }

// @font-face {
//     font-family: "flecham-bold";
//     src: url("/fonts/FlechaM-Bold.woff") format("woff");
// }

@font-face {
    font-family: "signifier";
    src: url("/fonts/signifier-regular.woff2") format("woff2");
}

// @font-face {
//     font-family: "signifier-bold";
//     src: url("/fonts/signifier-bold.woff2") format("woff2");
// }

@font-face {
    font-family: "styreneb";
    src: url("/fonts/StyreneB-Regular-Web.woff") format("woff");
}

// @font-face {
//     font-family: "styrene-bold";
//     src: url("/fonts/StyreneB-Bold-Web.woff") format("woff");
// }

@mixin flex-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
}
@mixin flex-col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}
@mixin fooncy-links {
    color: rgb(37, 37, 37);
    text-decoration: none;
    background: linear-gradient(to right,
            rgba(37, 37, 37, 0.3),
            rgba(37, 37, 37, 0.3)),
        linear-gradient(to right, rgba(37, 37, 37, 1), rgba(37, 37, 37, 1));
    background-size: 100% 0.1em, 0 0.1em;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;

    &:hover,
    &:focus {
        background-size: 0 0.1em, 100% 0.1em;
    }
}

@mixin transcribe-look {
    background: transparent;
    border: 1px solid rgba(37, 37, 37, 0.5);
    transition: 77ms;

    &:hover,
    &:focus {
        box-shadow: rgb(15 76 129) 0px 0px 10px inset;
        border: 1px solid rgb(15, 76, 129);
        color: rgb(37, 37, 37);
        background: rgb(208, 208, 208);
    }
}