
@mixin flex-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
}
@mixin flex-col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}
@mixin fooncy-links {
    color: rgb(37, 37, 37);
    text-decoration: none;
    background: linear-gradient(to right,
            rgba(37, 37, 37, 0.3),
            rgba(37, 37, 37, 0.3)),
        linear-gradient(to right, rgba(37, 37, 37, 1), rgba(37, 37, 37, 1));
    background-size: 100% 0.1em, 0 0.1em;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;

    &:hover,
    &:focus {
        background-size: 0 0.1em, 100% 0.1em;
    }
}

@mixin transcribe-look {
    background: transparent;
    border: 1px solid rgba(37, 37, 37, 0.5);
    transition: 77ms;

    &:hover,
    &:focus {
        box-shadow: rgb(15 76 129) 0px 0px 10px inset;
        border: 1px solid rgb(15, 76, 129);
        color: rgb(37, 37, 37);
        background: rgb(208, 208, 208);
    }
}