<script>
	import { base } from '$app/paths';
	import BigOlBtn from './lilcomps/bigolbtn.svelte';
	import Expando from './lilcomps/expando.svelte';
	import PicBox from './lilcomps/picbox.svelte';
	import QuoteBox from './lilcomps/quotebox.svelte';
	import Namebox from './lilcomps/namebox.svelte';
	import Quotebox from './lilcomps/quotebox.svelte';
	let owidth;
	export let feature;
	$: freakogap = (owidth > 800 && owidth < 1000) || (owidth > 1100 && owidth < 1400);
</script>

<svelte:window bind:outerWidth={owidth} />

{#if owidth > 1500}
	<div
		class="big"
		style="background: linear-gradient(to right,rgba(208, 208, 208, 1) 0%, rgba(208, 208, 208, 1) 45%, rgba(255, 255, 255, 0) 77%, rgba(255, 255, 255, 0) 100%),url({base}/{feature.img}); background-repeat: no-repeat; background-position: top right; background-size: 30vw;"
	>
		<div class="left-side">
			<div class="top-bar">
				<div class="top-left">
					<Namebox {feature} />
				</div>
				<div class="top-right">
					<QuoteBox {feature} />
				</div>
			</div>
			<div class="btn-bar">
				<div class="left">
					<Expando {feature} type="Browse" bind:freakogap />
				</div>
				<div class="center">
					<BigOlBtn {feature} type="BigOlBtn" />
				</div>
				<div class="right">
					<Expando {feature} type="History" bind:freakogap />
				</div>
			</div>
		</div>
		<div class="far-right" />
	</div>
	<hr />
{:else if owidth > 1200}
	<div
		class="medium"
		style="background: linear-gradient(to right,rgba(208, 208, 208, 1) 0%, rgba(208, 208, 208, 1) 45%, rgba(255, 255, 255, 0) 77%, rgba(255, 255, 255, 0) 100%),url({base}/{feature.img}); background-repeat: no-repeat; background-position: top right; background-size: 20vw;"
	>
		<div class="left">
			<div class="left-top">
				<Namebox {feature} />
			</div>
			<div class="left-bottom">
				<BigOlBtn {feature} tallboy />
			</div>
		</div>
		<div class="mid">
			<div class="mid-top">
				<QuoteBox {feature} />
			</div>
			<div class="mid-bottom">
				<div class="mid-bottom-left">
					<Expando {feature} type="Browse" bind:freakogap />
				</div>
				<div class="mid-bottom-right">
					<Expando {feature} type="History" bind:freakogap />
				</div>
			</div>
		</div>
		<div class="far-right" />
	</div>
	<hr />
{:else}
	<div class="small">
		<div class={owidth > 700 ? 'top-horiz' : 'top-vert'}>
			<div class="top-left">
				<Namebox {feature} />
			</div>
			<div class="top-right">
				<PicBox {feature} />
			</div>
		</div>
		<div class="mid-top">
			<Quotebox {feature} />
		</div>
		<div class={owidth > 800 ? 'mid-bottom-horiz' : 'mid-bottom-vert'}>
			<Expando {feature} type="Browse" bind:freakogap />
			<Expando {feature} type="History" bind:freakogap />
		</div>
		<div class={owidth > 800 ? 'bottom bottom-big' : 'bottom bottom-lil'}>
			<BigOlBtn {feature} tallboy />
		</div>
	</div>
	<hr />
{/if}

<style lang="scss">
	@import '/src/newberry.scss';
	.big {
		@include flex-row;
		margin: 15px 0;

		.left-side {
			flex: 4;
			@include flex-col;
			.top-bar {
				@include flex-row;
				margin-bottom: 16px;
				.top-left {
					text-align: center;
				}
			}
			.btn-bar {
				@include flex-row;
				.left,
				.right,
				.center {
					flex: 1;
					margin: 5px;
				}
			}
		}
		.far-right {
			flex: 1;
			// border: 1px solid rgba(37, 37, 37, 0.5);
			height: 100%;
			width: 100%;
			min-width: 200px;
			margin-left: 8px;
		}
	}
	.medium {
		@include flex-row;
		.left {
			justify-content: flex-start;
		}
		.left,
		.mid {
			@include flex-col;
			margin: 0 8px;
			// justify-content: center;
			// align-items: stretch;
			.left-top {
				margin: 0 0 16px 8px;
			}
			.mid-top,
			.mid-bottom {
				flex: 1;
				margin: 8px 0;
			}
			.mid-bottom {
				@include flex-row;
				.mid-bottom-right,
				.mid-bottom-left {
					margin: 0 5px;
				}
			}
		}
		.far-right {
			flex: 1;
			// border: 1px solid rgba(37, 37, 37, 0.5);
			height: 100%;
			width: 100%;
			min-width: 100px;
			margin-left: 8px;
		}
	}
	.small {
		@include flex-col;
		margin: 16px 0;
		.top-horiz {
			@include flex-row;
			justify-content: space-between;
		}
		.top-vert {
			@include flex-col;
			justify-content: center;
			align-items: center;
			margin-bottom: 16px;
		}
		.top-left {
			margin: 16px;
		}
		.mid-top {
			margin: 8px 0;
		}
		.mid-bottom-horiz {
			@include flex-row;
			margin: 0 8px;
			:global(> *) {
				margin: 8px 5px;
			}
		}
		.mid-bottom-vert {
			@include flex-col;
			:global(> *) {
				margin: 8px 16px;
			}
		}
		.bottom {
			min-width: 200px;
		}
		.bottom-big {
			width: 50%;
			margin: 8px auto;
		}
		.bottom-lil {
			width: 100%;
			margin: 8px 16px;
		}
	}
</style>
